$font-stack: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$light-grey: #F3F3F3;
$grey-out: #7F7F7F;

$light-blue: #6AB3F3;
$info-blue: #23E7FF;

$red: #cf0000;
$yellow: #FEBD0E;

%img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

%overlay {
	position: fixed;
	z-index: 100;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0;
}

%info-btn {
	color: #fff;
	transition: color 0.2s ease;
	&:hover, &:active {
		cursor: pointer;
		color: #333;
	}
}

%open-panel {
	transform: translateY(100%);
	transition: all 0.3s ease;
	background: #FFFFFF;
	&.open {
		transform: translateY(0%);
	}
}

// GLOBALS =================
body {
	background: linear-gradient( to bottom right, #fff, #f3f3f3 );
}

%spacing-reset {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	@extend %spacing-reset;
	font-family: $font-stack;
}

h1 {
	font-weight: 300;
}

.subtext {
	font-size: 12px;
	color: #999;
}

ul {
	@extend %spacing-reset;
	list-style: none;
}

.panel {
	width: 100%;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.close-x {
	position: absolute;
	top: 6px;
	right: 6px;
	height: 30px;
	width: 30px;
	overflow: hidden;
	background: $light-grey;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
	&:before, &:after {
		content: '';
		position: absolute;
		height: 2px;
		width: 72%;
		top: 50%;
		left: 4px;
		margin-top: -1px;
		background: #999;
		&:hover {
			background: #000;
		}
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

.dropdown, .dropup {
	display: inline-block;
	.btn {
		min-width: 200px;
		font-family: $font-stack;
		font-size: 20px;
		font-weight: 300;
		background: #fff;
		border: 1px solid #999;
		color: #333;
	}
	.dropdown-menu {
		width: 100%;
		box-shadow: none;
		border: 1px solid #999;
		max-height: 250px;
		overflow: auto;
		.dropdown-item {
			padding: 5px 10px;
			font-size: 18px;
			font-weight: 300;
		}
	}
	margin-bottom: 10px;
}

// CSS LOADER

.sk_loader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 51;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
}

.loader {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 10px solid rgba(0,0,0,0.2);
	border-left: 10px solid #666;
	transform: translateZ(0);
	animation: loading 0.4s infinite linear;
}
@-webkit-keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


// WELCOME SCREEN ==========

#welcome-block {
	@extend %overlay;
	padding: 150px 15px;
	background: white;
	opacity: 0;
	transition: opacity 0.3s ease;
	&.open {
		opacity: 1;
	}
	.welcome-logo {
		margin: 10px auto;
		width: 150px;
		height: auto;
		img {
			@extend %img;
		}
	}
}

// CITIES LIST ==============

#cities-block {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient( to bottom, #fff, #fff, $info-blue, $info-blue);
	.header-logo {
		margin: 10px auto;
		width: 100px;
		height: auto;
		img {
			@extend %img;
		}
	}
}

#current-city, #active-cities {
	width: 100%;
	padding: 15px 5px 0px 5px;
	h6 {
		margin-bottom: 5px;

	}
}

.city-panel {
	position: relative;
	padding: 2px 5px;
	height: 70px;
	margin-bottom: 8px;
	overflow: hidden;
	&:hover {
		cursor: pointer;
	}
	.sk_loader {
		background: rgba(0,0,0,0.5);
		border-radius: 3px;
		.loader {
			width: 50px;
			height: 50px;
			margin: -25px 0 0 -25px;
			border: 5px solid rgba(255,255,255,0.2);
			border-left: 5px solid #fff;
		}
	}
}

.city-info, .city-temp {
	display: inline-block;
}

.city-info {
	height: 66px;
	overflow: hidden;
	h1 {
		position: relative;
		margin-left: 5px;
		padding: 12px 0;
    	line-height: 42px;
	}
	.lnr {
		position: absolute;
		top: -6px;
		left: 6px;
		font-size: 80px;
		line-height: 80px;
		opacity: 0.5;
		&.lnr-sun {
			color: $yellow;
		}
		&.lnr-cloud {
			color: #999;
		}
		&.lnr-drop {
			color: $light-blue;
		}
	}
}

.city-temp {
	float: right;
	padding: 12px 0 0 0;
}

.temp-degrees {
	font-weight: 400;
	font-size: 40px;
	line-height: 42px;
}
.temp-wind {
	line-height: 12px;
}


// FULL FORECAST PANEL =====

.forecast-panel {
	@extend %overlay;
	@extend %open-panel;
	// MOVE TO PARTIAL > EXPORT
	.overview-forecast {
		position: relative;
		height: calc( 100% - 150px );
		padding: 20px 20px 10px 20px;
		border-bottom: 1px solid #999;
		overflow: hidden;
		&.background-drop {
			background: linear-gradient( to bottom left, #fff, $light-blue );
		}
		&.background-cloud {
			background: linear-gradient( to bottom left, #fff, #999 );
		}
		&.background-sun {
			background: linear-gradient( to bottom left, #fff, $yellow );
		}
		.overview-info {
			transform: translateY(-25%);
    		margin-top: 50%;
			h1 {
				font-size: 100px;
				height: 150px;
				margin-right: -45px;
			}
			h2 {
				font-size: 44px;
				font-weight: 100;
			}
			ul {
				margin-top: 5px;
				li {
					font-size: 14px;
					color: #fff;
					text-align: center;
				}
			}
		}
		.background-icon {
			position: absolute;
			top: 10%;
			right: -9%;
			line-height: 150px;
			font-size: 200px;
			color: #fff;
		}
	}
	.hourly-forecast {
		position: relative;
		height: 150px;
		overflow: hidden;
		.hourly-arrow {
			@extend .hourly-forecast;
			position: absolute;
			display: inline-block;
			top: 0;
			width: 20%;
			line-height: 150px;
			background: rgba( 255, 255, 255, 0.8 );
			z-index: 10;
			font-size: 30px;
			cursor: pointer;
			&:first-child {
				left: 0;
			}
			&:last-child {
				right: 0;
			}
			.lnr {
				font-weight: 700;
			}
		}
		.hourly-list {
			position: absolute;
			top: 0;
			white-space: nowrap;
			transition: left 0.3s ease;
			.hourly-item {
				@extend .hourly-forecast;
				display: inline-block;
				padding: 15px 0;
				font-size: 18px;
				font-weight: 100;
				overflow: hidden;
				p {
					text-align: center;
					color: white;
					.lnr {
						font-size: 28px;
						font-size: bold;
					}
				}
				.hourly-temp {
					line-height: 68px;
					font-size: 34px;
					font-weight: 700;
					margin-right: -14px;
				}
			}
		}
	}
}

// SETTINGS ICON & MENU ====

.settings-icon {
	position: fixed;
	z-index: 10;
	right: 10px;
	bottom: 8px;
	font-size: 24px;
	line-height: 24px;
	@extend %info-btn;
}

.settings-panel {
	@extend %overlay;
	@extend %open-panel;
	padding: 50px 15px;
	text-align: center;
	background: linear-gradient( to bottom, #fff, #B2B2B2 );
	h1 {
		margin-bottom: 20px;
		font-size: 100px;
		color: $grey-out;
		transition: color 0.2s ease;
		span {
			cursor: pointer;
		}
		.active {
			color: #333;
		}
	}
	h6 {
		margin-bottom: 5px;
	}
	.dropdown, .dropup {
		margin-bottom: 20px;
	}
}


@media ( min-width: 700px ) {

	main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
	}

	#current-city, #active-cities {
		max-width: 500px;
		margin: 0 auto;
	}

	#cities-block {
		.header-logo {
			margin: 20px auto;
		}
	}

	.panel {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	}

	.forecast-panel,
	.settings-panel {
		transform: translate(-50%, 100%);
    	left: 50%;
		max-width: 500px;
		&.open {
			top: 50%;
			height: 650px;
			transform: translate( -50%, -50%);
		}
	}

	.settings-panel {
		.dropdown, .dropup {
			display: block;
			margin: 0 auto 20px auto;
		}
	}

	.settings-icon {
		font-size: 30px;
		line-height: 30px;
		font-weight: bold;
		right: calc( 50% - 15px );
	}
}
