<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Popeye Weather Forecast</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

		<link rel="stylesheet" href="dist/styles.css">
		<link rel="stylesheet" href="public/stylesheets/main.css">
	</head>
	<body ng-app="Popeye">
		<main ng-cloak ng-controller="MainController as main" ng-init="main.init()">

			<div id="welcome-block" class="text-center" ng-class="{ open: main.welcome_open }">
				<h5>welcome to,</h5>
				<div class="welcome-logo">
					<img src="public/images/pop_logo_red.png" />
				</div>
				<div class="dropdown">
					<button class="btn dropdown-toggle" id="selectCurrentDropdown" data-toggle="dropdown">
						{{ current_city.name || 'Select your current city' }}
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-item" ng-repeat="city in main.available_cities track by $index" ng-click="main.selectCurrentCity(city)">{{ city.name }}</li>
					</ul>
				</div>
				<h5>to continue...</h5>
			</div>

			<div id="cities-block" ng-controller="CitiesController as cities" ng-if="current_city" ng-init="cities.initCities()">
				<div class="sk_loader" ng-if="cities.initial_load || cities.loading_data">
					<div class="loader"></div>
				</div>
				<header class="header-logo" ng-if="current_city">
					<img src="public/images/pop_logo_red.png" />
				</header>
				<h6 ng-show="!cities.initial_load" class="text-center subtext">select city to see hourly forecast</h6>
				<section id="current-city" ng-show="!cities.initial_load">
					<h6>Current city</h4>
					<city-forecast city="current_city" options="settings"></city-forecast>
				</section>

				<section id="active-cities" ng-show="!cities.initial_load">
					<h6>Favorite cities</h6>
					<city-forecast ng-repeat="city in active_cities track by $index" city="city" options="settings"></city-forecast>
				</section>
			</div>

			<div id="settings-block" ng-if="current_city">
				<div class="icon settings-icon" ng-click="main.settings_open=true;">
					<span class="lnr lnr-cog"></span>
				</div>

				<div class="panel settings-panel" ng-class="{ open: main.settings_open }">
					<span class="close-x" ng-click="main.closeSettings()"></span>
					<h6 class="subtext">Display units</h6>
					<h1>
						<span ng-click="main.setUnits('metric')" ng-class="{ active: settings.units == 'metric' }">C&#176;</span>|<span ng-click="main.setUnits('imperial')" ng-class="{ active: settings.units == 'imperial' }">F&#176;</span>
					</h1>
					<h6 class="subtext">Current city</h6>
					<div class="dropdown">
						<button class="btn dropdown-toggle" id="updateCurrentDropdown" data-toggle="dropdown">
							{{ current_city.name || 'Select your current city' }}
						</button>
						<ul class="dropdown-menu">
							<li class="dropdown-item" ng-repeat="city in main.available_cities track by $index" ng-click="main.updateCurrentCity(city)">{{ city.name }}</li>
						</ul>
					</div>
					<h6 class="subtext">Favorite cities</h6>
					<div class="dropup" ng-repeat="active_city in active_cities track by $index">
						<button class="btn dropdown-toggle" id="updateActiveDropdown{{ $index }}" data-toggle="dropdown">
							{{ active_city.name || 'Select city' }}
						</button>
						<ul class="dropdown-menu">
							<li class="dropdown-item" ng-repeat="city in main.available_cities track by $index" ng-click="main.updateActiveCity( city, $parent.$index )">{{ city.name }}</li>
						</ul>
					</div>
				</div>
			</div>

		</main>

		<script src="dist/libraries.js"></script>
		<script src="dist/app.js"></script>
		
		<!-- FOR DEV ENVIRONMENT -->
		<!-- <script src="app/app.js"></script>
		<script src="app/js/controllers/MainController.js"></script>
		<script src="app/js/controllers/CitiesController.js"></script>
		<script src="app/js/directives/CityForecastDirective.js"></script>
		<script src="app/js/services/LocalService.js"></script>
		<script src="app/js/services/CitiesDataService.js"></script> -->

	</body>
</html>
