#welcome-block .welcome-logo img, #cities-block .header-logo img {
  width: 100%;
  height: auto;
  vertical-align: top; }

#welcome-block, .forecast-panel, .settings-panel {
  position: fixed;
  z-index: 100;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0; }

.settings-icon {
  color: #fff;
  transition: color 0.2s ease; }
  .settings-icon:hover, .settings-icon:active {
    cursor: pointer;
    color: #333; }

.forecast-panel, .settings-panel {
  transform: translateY(100%);
  transition: all 0.3s ease;
  background: #FFFFFF; }
  .open.forecast-panel, .open.settings-panel {
    transform: translateY(0%); }

body {
  background: linear-gradient(to bottom right, #fff, #f3f3f3); }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-weight: 300; }

.subtext {
  font-size: 12px;
  color: #999; }

ul {
  list-style: none; }

.panel {
  width: 100%;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); }

.close-x {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  background: #F3F3F3;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer; }
  .close-x:before, .close-x:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 72%;
    top: 50%;
    left: 4px;
    margin-top: -1px;
    background: #999; }
    .close-x:before:hover, .close-x:after:hover {
      background: #000; }
  .close-x:before {
    transform: rotate(45deg); }
  .close-x:after {
    transform: rotate(-45deg); }

.dropdown, .dropup {
  display: inline-block;
  margin-bottom: 10px; }
  .dropdown .btn, .dropup .btn {
    min-width: 200px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    background: #fff;
    border: 1px solid #999;
    color: #333; }
  .dropdown .dropdown-menu, .dropup .dropdown-menu {
    width: 100%;
    box-shadow: none;
    border: 1px solid #999;
    max-height: 250px;
    overflow: auto; }
    .dropdown .dropdown-menu .dropdown-item, .dropup .dropdown-menu .dropdown-item {
      padding: 5px 10px;
      font-size: 18px;
      font-weight: 300; }

.sk_loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 51;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); }

.loader {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-left: 10px solid #666;
  transform: translateZ(0);
  animation: loading 0.4s infinite linear; }

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#welcome-block {
  padding: 150px 15px;
  background: white;
  opacity: 0;
  transition: opacity 0.3s ease; }
  #welcome-block.open {
    opacity: 1; }
  #welcome-block .welcome-logo {
    margin: 10px auto;
    width: 150px;
    height: auto; }

#cities-block {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, #fff, #fff, #23E7FF, #23E7FF); }
  #cities-block .header-logo {
    margin: 10px auto;
    width: 100px;
    height: auto; }

#current-city, #active-cities {
  width: 100%;
  padding: 15px 5px 0px 5px; }
  #current-city h6, #active-cities h6 {
    margin-bottom: 5px; }

.city-panel {
  position: relative;
  padding: 2px 5px;
  height: 70px;
  margin-bottom: 8px;
  overflow: hidden; }
  .city-panel:hover {
    cursor: pointer; }
  .city-panel .sk_loader {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px; }
    .city-panel .sk_loader .loader {
      width: 50px;
      height: 50px;
      margin: -25px 0 0 -25px;
      border: 5px solid rgba(255, 255, 255, 0.2);
      border-left: 5px solid #fff; }

.city-info, .city-temp {
  display: inline-block; }

.city-info {
  height: 66px;
  overflow: hidden; }
  .city-info h1 {
    position: relative;
    margin-left: 5px;
    padding: 12px 0;
    line-height: 42px; }
  .city-info .lnr {
    position: absolute;
    top: -6px;
    left: 6px;
    font-size: 80px;
    line-height: 80px;
    opacity: 0.5; }
    .city-info .lnr.lnr-sun {
      color: #FEBD0E; }
    .city-info .lnr.lnr-cloud {
      color: #999; }
    .city-info .lnr.lnr-drop {
      color: #6AB3F3; }

.city-temp {
  float: right;
  padding: 12px 0 0 0; }

.temp-degrees {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px; }

.temp-wind {
  line-height: 12px; }

.forecast-panel .overview-forecast {
  position: relative;
  height: calc( 100% - 150px );
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #999;
  overflow: hidden; }
  .forecast-panel .overview-forecast.background-drop {
    background: linear-gradient(to bottom left, #fff, #6AB3F3); }
  .forecast-panel .overview-forecast.background-cloud {
    background: linear-gradient(to bottom left, #fff, #999); }
  .forecast-panel .overview-forecast.background-sun {
    background: linear-gradient(to bottom left, #fff, #FEBD0E); }
  .forecast-panel .overview-forecast .overview-info {
    transform: translateY(-25%);
    margin-top: 50%; }
    .forecast-panel .overview-forecast .overview-info h1 {
      font-size: 100px;
      height: 150px;
      margin-right: -45px; }
    .forecast-panel .overview-forecast .overview-info h2 {
      font-size: 44px;
      font-weight: 100; }
    .forecast-panel .overview-forecast .overview-info ul {
      margin-top: 5px; }
      .forecast-panel .overview-forecast .overview-info ul li {
        font-size: 14px;
        color: #fff;
        text-align: center; }
  .forecast-panel .overview-forecast .background-icon {
    position: absolute;
    top: 10%;
    right: -9%;
    line-height: 150px;
    font-size: 200px;
    color: #fff; }
.forecast-panel .hourly-forecast, .forecast-panel .hourly-forecast .hourly-arrow, .forecast-panel .hourly-forecast .hourly-list .hourly-item {
  position: relative;
  height: 150px;
  overflow: hidden; }
  .forecast-panel .hourly-forecast .hourly-arrow, .forecast-panel .hourly-forecast .hourly-list .hourly-item .hourly-arrow {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 20%;
    line-height: 150px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    font-size: 30px;
    cursor: pointer; }
    .forecast-panel .hourly-forecast .hourly-arrow:first-child {
      left: 0; }
    .forecast-panel .hourly-forecast .hourly-arrow:last-child {
      right: 0; }
    .forecast-panel .hourly-forecast .hourly-arrow .lnr {
      font-weight: 700; }
  .forecast-panel .hourly-forecast .hourly-list, .forecast-panel .hourly-forecast .hourly-list .hourly-item .hourly-list {
    position: absolute;
    top: 0;
    white-space: nowrap;
    transition: left 0.3s ease; }
    .forecast-panel .hourly-forecast .hourly-list .hourly-item {
      display: inline-block;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 100;
      overflow: hidden; }
      .forecast-panel .hourly-forecast .hourly-list .hourly-item p {
        text-align: center;
        color: white; }
        .forecast-panel .hourly-forecast .hourly-list .hourly-item p .lnr {
          font-size: 28px;
          font-size: bold; }
      .forecast-panel .hourly-forecast .hourly-list .hourly-item .hourly-temp {
        line-height: 68px;
        font-size: 34px;
        font-weight: 700;
        margin-right: -14px; }

.settings-icon {
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 8px;
  font-size: 24px;
  line-height: 24px; }

.settings-panel {
  padding: 50px 15px;
  text-align: center;
  background: linear-gradient(to bottom, #fff, #B2B2B2); }
  .settings-panel h1 {
    margin-bottom: 20px;
    font-size: 100px;
    color: #7F7F7F;
    transition: color 0.2s ease; }
    .settings-panel h1 span {
      cursor: pointer; }
    .settings-panel h1 .active {
      color: #333; }
  .settings-panel h6 {
    margin-bottom: 5px; }
  .settings-panel .dropdown, .settings-panel .dropup {
    margin-bottom: 20px; }

@media (min-width: 700px) {
  main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0; }

  #current-city, #active-cities {
    max-width: 500px;
    margin: 0 auto; }

  #cities-block .header-logo {
    margin: 20px auto; }

  .panel {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

  .forecast-panel,
  .settings-panel {
    transform: translate(-50%, 100%);
    left: 50%;
    max-width: 500px; }
    .forecast-panel.open,
    .settings-panel.open {
      top: 50%;
      height: 650px;
      transform: translate(-50%, -50%); }

  .settings-panel .dropdown, .settings-panel .dropup {
    display: block;
    margin: 0 auto 20px auto; }

  .settings-icon {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    right: calc( 50% - 15px ); } }

/*# sourceMappingURL=main.css.map */
